<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanthaliFooter</title>
    <link rel="stylesheet" href="santhali.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="nitlogo">
            <img src="National_Institute_of_Technology,_Jamshedpur_Logo.png">
            
        </div>
        <div id="nitDetail">
            <div id="name">National Institute of Technology , Jamshedpur
            </div>
            <br>
            <div id="place">Adityapur, Jamshedpur, Jharkhand  831014</div>
        </div>
        <div id="icons">
            <a href="" >insta</a>
            <a href="" >facebook</a>
            <a href="" >twitter</a>
            <a href="" >linkedin</a>
            <a href="" >youtube</a>

            <!-- <img class="icon" src="Vector (4).png">
            <img class="icon" src="Vector.png">
            <img  class="icon" src="Vector (1).png">
            <img  class="icon" src="Vector (2).png">
            <img  class="icon" src="Vector (3).png"> -->
            
        </div>
        <div id="visitor">
            <div class="visCon">VISITORS</div>
            <div  class="visCon" id="number">  668754</div>
        </div>
    </div>
    
</body>
</html>